@import "../../../../scss-variables";

.navigation-link {
	color: $light-gray;
	text-decoration: none;
	height: 100%;
	line-height: 70px;
	margin: 20px;
	position: relative;
	&::before {
		content: "";
		height: 1.5px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: white;
	}
	&:hover {
		&::before {
			background-color: $light-gray;
		}
	}
	&.active-link {
		color: $orange;
		&::before {
			background-color: $orange;
		}
	}
}

@media (max-width: 720px) {
	.navigation-link {
		margin: 0 auto;
		&::before {
			height: 0;
		}
	}
}
