.burger-menu {
	display: none;
	height: 27px;
	width: 40px;
	flex-direction: column;
	justify-content: space-between;
	div {
		height: 3px;
		width: 100%;
		background-color: rgb(61, 61, 61);
		border-radius: 5px;
		transform-origin: right;
		opacity: 1;
		transition: transform 0.3s ease, opacity 0.3s ease;
		&:last-child {
			margin: 0;
		}
	}
}

@media (max-width: 720px) {
	.burger-menu {
		display: flex;
	}
}
