.side-drawer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 280px;
	max-width: 70%;
	background-color: white;
	border: 1px solid black;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 101;
	overflow: hidden;
	display: none;
	&.opened {
		transform: translateX(0);
	}
}

@media (max-width: 720px) {
	.side-drawer {
		display: block;
	}
}
