@import "../../../scss-variables";

.button {
	min-width: 150px;
	width: auto;
	height: 50px;
	letter-spacing: 0.8px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 10px;

	&.black {
		background-color: black;
		border: 1px solid black;
		&:hover {
			background-color: white;
			color: black;
			border: 1px solid black;
		}
	}
	&.orange {
		background-color: $orange;
		border: 1px solid $orange;
		&:hover {
			background-color: white;
			color: $orange;
			border: 1px solid $orange;
		}
	}
}
